<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell (First three episodes) </td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:40</td>  <td>Building programs with Python</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00</td>  <td>More Python (Loops, Functions, Plotting)</td> </tr>
      <tr> <td>3:40</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Version control with Git</td> </tr>
      <tr> <td>11:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td>More Git</td> </tr>
      <tr> <td>2:00</td>  <td>GDAL</td> </tr>
      <tr> <td>3:30</td>  <td>GDAL and Bash Loops</td> </tr>
      <tr> <td>4:30</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
